@font-face {
	font-family: ConsolasNF;
	src:         url(/webfonts/consolas-nf.ttf);
}

.navbar-item .icon {
	margin-right: 0.25em;
}

h1 {
	padding-bottom: 0.5em;
	margin-bottom:  0.5em;
	border-bottom:  1px solid #eee;
}
h1.title {
	margin-bottom: 0.5em !important;
}

form {
	margin-top: 0.75em;
}

code, pre, code *, pre * {
	font-family: ConsolasNF, monospace;
}

