@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Roboto+Slab&display=swap');

@font-face {
	font-family: ConsolasNF;
	src:         url(/webfonts/consolas-nf.ttf);
}

* {
	font-family: Quicksand, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-item .icon {
	margin-right: 0.25em;
}

h1, h2, h3 {
	font-family: "Roboto Slab", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content h1 {
	padding-bottom: 0.5em;
	margin-bottom:  0.5em;
	border-bottom:  2px solid #eee;
}
.content h1.title {
	margin-bottom: 0.5em !important;
	display:       flex;
}
.content h1.title i.logo,
nav i.logo {
	-webkit-mask-size:  cover;
	mask-size:          cover;
	-webkit-mask-image: url(/img/logo.svg);
	mask-image:         url(/img/logo.svg);
}
.content h1.title i.logo {
	height:           1.4em;
	width:            1.4em;
	margin:           -0.1em 0.3em -0.2em -0.2em;
	background-color: #363636;
}
nav i.logo {
	height:           2.2em;
	width:            2.2em;
	margin:           0;
	display:          block;
	background-color: rgba(0, 0, 0, 0.7);
}

.content h2 {
	padding-bottom: 0.5714em;
	margin-bottom:  0.5714em;
	border-bottom:  1px solid #eee;
}
.content h2:not(:first-child) {
	margin-top: 2em;
}

img.emoji {
	height:       1.1em;
	width:        1.1em;
	position:     relative;
	top:          0.18em;
	margin-right: 0.2em;
}
.content h1 img.emoji:first-of-type {
	height:        2.2em;
	width:         2.2em;
	display:       block;
	top:           0;
	margin-bottom: 1em;
}

form {
	margin-top: 0.75em;
}

code, pre, code *, pre *, .is-family-monospace, .is-family-code {
	font-family: ConsolasNF, monospace !important;
}
code {
	background-color: rgba(200, 200, 200, 0.2);
	border-radius:    0.15em
}

.content a {
	font-weight: 500;
}

.content blockquote.blocked p,
.content blockquote.broken p,
.content blockquote.warning p,
.content blockquote.caution p,
.content blockquote.note p,
.content blockquote.tip p,
.content blockquote.complete p,
.content blockquote.finished p,
.content blockquote.approved p,
.content blockquote.info p,
.content blockquote.question p,
.content blockquote.todo p {
	padding-left: 2.5em;
}

.content blockquote.blocked::before,
.content blockquote.broken::before,
.content blockquote.warning::before,
.content blockquote.caution::before,
.content blockquote.note::before,
.content blockquote.tip::before,
.content blockquote.complete::before,
.content blockquote.finished::before,
.content blockquote.approved::before,
.content blockquote.info::before,
.content blockquote.question::before,
.content blockquote.todo::before {
	position:    absolute;
	font-size:   1.2em;
	margin-top:  -0.1em;
	margin-left: -0.1em;
}
.content blockquote.blocked p:first-child strong:first-child,
.content blockquote.broken p:first-child strong:first-child,
.content blockquote.warning p:first-child strong:first-child,
.content blockquote.caution p:first-child strong:first-child,
.content blockquote.note p:first-child strong:first-child,
.content blockquote.tip p:first-child strong:first-child,
.content blockquote.complete p:first-child strong:first-child,
.content blockquote.finished p:first-child strong:first-child,
.content blockquote.approved p:first-child strong:first-child,
.content blockquote.info p:first-child strong:first-child,
.content blockquote.question p:first-child strong:first-child,
.content blockquote.todo p:first-child strong:first-child {
	display: block;
}

.content blockquote.blocked,
.content blockquote.broken {
	border-left:      5px solid hsl(0, 80%, 44%);
	background-color: hsl(0, 73%, 94%);
}
.content blockquote.warning,
.content blockquote.caution {
	border-left:      5px solid hsl(30, 70%, 50%);
	background-color: hsl(30, 77%, 92%);
}
.content blockquote.note,
.content blockquote.tip {
	border-left:      5px solid hsl(50, 90%, 45%);
	background-color: hsl(50, 78%, 92%);
}
.content blockquote.complete,
.content blockquote.finished,
.content blockquote.approved {
	border-left:      5px solid hsl(80, 70%, 37%);
	background-color: hsl(80, 47%, 93%);
}
.content blockquote.info {
	border-left:      5px solid hsl(210, 60%, 45%);
	background-color: hsl(210, 65%, 93%);
}
.content blockquote.question {
	border-left:      5px solid hsl(275, 60%, 45%);
	background-color: hsl(275, 70%, 94%);
}
.content blockquote.todo {
	border-left:      5px solid hsl(40, 80%, 35%);
	background-color: hsl(40, 73%, 93%);
}

.content blockquote.blocked::before,
.content blockquote.broken::before {
	content: "⛔";
}
.content blockquote.warning::before,
.content blockquote.caution::before {
	content: "⚠️";
}
.content blockquote.note::before,
.content blockquote.tip::before {
	content: "💡";
}
.content blockquote.complete::before,
.content blockquote.finished::before,
.content blockquote.approved::before {
	content: "✅";
}
.content blockquote.info::before {
	content: "ℹ️";
}
.content blockquote.question::before {
	content: "❓";
}
.content blockquote.todo::before {
	content: "🚧";
}

section.footnotes {
	margin-top: 3em;
	padding-top: 1em;
	border-top:  5px solid #eee;
}


